/* -------- Main styles -------- */

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-inline-size: 211px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 12px 38.5px 12px 15px;
  background-image: url(../images/arrow-down-s-line.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 23px;
  cursor: pointer;
}
